.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: 150px 95px;
    padding: 0px 140px;
    background: linear-gradient(180deg, #f8c0fd, #e1ffea22);
}

.offers-left{
    margin-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right img{
    height: 70vh;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}

